* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial;
  padding-top: 2rem;
}
button:hover{
cursor: pointer;
}
button:active {
  transform: scale(0.97);
  filter: brightness(90%);
}
