.footer {
  background: rgb(75, 75, 75);
  color: white;
  padding: 1rem;
  color: #f1f5f9;
  padding: 60px 20px 20px 20px;

}

.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 40px;
  max-width: 1200px;
  margin: auto;
}

.footer-section h2.logo {
  font-size: 24px;
  margin-bottom: 15px;
}

.footer-section h2.logo span {
  color: #38bdf8;
}

.footer-section h3 {
  margin-bottom: 15px;
  font-size: 18px;
  color: #38bdf8;
}

.footer-section p {
  font-size: 14px;
  line-height: 1.6;
  color: #cbd5e1;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  text-decoration: none;
  color: #cbd5e1;
  font-size: 14px;
  transition: 0.3s ease;
}

.footer-section ul li a:hover {
  color: #38bdf8;
}

.socials {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.socials a {
  text-decoration: none;
  color: #cbd5e1;
  transition: 0.3s ease;
}

.socials a:hover {
  color: #38bdf8;
}

.footer-bottom {
  text-align: center;
  margin-top: 40px;
  padding-top: 20px;
  border-top: 1px solid #1e293b;
  font-size: 13px;
  color: #94a3b8;
}