.Header {
  background: rgb(120, 20, 20);
  box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.671);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.1rem 1rem;
  height: min(10vw,2.6rem);
  position: fixed;
  width: 100%;
  z-index: 10;
  top: 0;
  overflow: hidden;
}
.logos {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  .storeTittle {
    font-weight: 600;
    font-size: min(5vw,1.7rem);
    color: white;
  }
  img {
    height: min(8vw,2.5rem);
    aspect-ratio: 1/1;
  }
}
.HeadMenu {
  height: 100%;
  display: flex;
  align-items: center;
}

.HeadNavLinks a:hover {
  cursor: pointer;
}
.HeadNavLinks a:active {
  transform: scale(0.96);
  transition: transform 0.15s;
}
.HeadNavLinks {
  display: flex;
  gap: min(3vw,1.5rem);
  font-weight: bold;
  align-items: center;
  height: 90%;
  a {
    text-decoration: none;
    color: white;
    font-size: min(5vw,1.4rem);
    display: flex;
    align-items: center;
    gap: 0.3rem;
    height: 90%;
  }
}
.profilePic,
.profilePicView {
  height: 100%;
  aspect-ratio: 1/1;
  object-fit: contain;
  border-radius: 5rem;
  border: solid rgba(255, 255, 255, 0.356) 1px;
}
.profilePic {
  height: 1.7rem;
  width: 1.7rem;
}
.profilePicView {
  height: 2.6rem;
  width: 2.6rem;
}

.ProfileView {
  position: fixed;
  right: 1%;
  background: rgba(120, 20, 20, 1);
  color: white;
  padding: 0.3rem;
  border-radius: 0.3rem;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 80vw;
}
.ProfilePicPair {
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  flex-wrap: wrap;
  background: rgba(0, 0, 0, 0.226);
  width: 100%;
  border-radius: 0.2rem;
  padding: 0.4rem;
  box-shadow: inset black 0 0 0.1rem;
}
.GreetUser {
  font-weight: 600;
  font-size: 1.5rem;
}
.verifiedEmail {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
.userEmailProfile {
  font-size: 1.3rem;
}
.verifiedText {
  font-size: 1.2rem;
}
.verifiedIcon {
  height: 1.4rem;
  filter: invert();
}
.logOutBtn,
.cancelBtn {
  align-self: center;
  width: 80%;
  padding: 0.1rem;
  font-size: 1.3rem;
  background: white;
  border: none;
  border-radius: 0.2rem;
  margin: 0.2rem;
  align-items: center;
  display: flex;
  justify-content: center;
  .logOutIcon {
    height: 1.5rem;
  }
}
.cancelIcon {
  height: 1rem;
}
.cancelBtn {
  margin-top: min(3.5vw,2rem);
  font-weight: 600;
  padding: 0.3rem 1.4rem;
  gap: 0.2rem;
}

.ProfileViewBody {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0 1rem;
  align-items: center;
}

.loadingAuth {
  height: 1.7rem;
  width: 1.7rem;
  filter: invert();
}
.SideMenuToggle {
  display: none;
  background: none;
  border: none;
  height: 2.4rem;
  img {
    filter: invert();
    height: 100%;
    aspect-ratio: 1/1;
  }
}
.sideCloseBtn{display: none;}


@media (max-width: 800px) {
  .HeadNavLinks {
    position: fixed;
    right: 0;
    top: 2.6rem;
    background: rgba(100, 10, 10, 1);
    width: fit-content;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: fit-content;
    flex-direction: column;
    align-items: end;
    padding: 1rem;
  }
  .SideMenuToggle,.sideCloseBtn{display: flex;}
  .noSideMenu {
    display: none;
  }
}

.sideMenuTottleBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
