.HomePage {
  width: 100%;
}
.Showcase {
  background-attachment: fixed;
  align-self: center;
  min-height: calc(100vh - 3.6rem);
  background-position: center;
  background-size: cover;
  background-image: url("../Backgrounds/BG3.webp");
  background-repeat: repeat-y;
  z-index: 5;
  margin: 1rem;
  border-radius: 2rem;
  box-shadow: black 0.2rem 0.2rem 0.3rem;
}

.droneFloating {
  background-image: url("../Models/DroneModel2.png");
  height: 40rem;
  width: 40rem;
}
.droneModel {
  filter: drop-shadow(rgba(0, 0, 0, 0.7) 0.4rem 0.7rem 0.2rem);
  max-width: 45vw;
}

.SearchSystem {
  background: white;
  top: 2.6rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0rem 0.1rem 0.2rem;
  position: sticky;
  display: flex;
  justify-content: space-between;
  padding: 0.3rem 1rem;
  z-index: 1;
  gap: 2vw;
  width: 100%;
  .FilterBar {
    padding: 0.1rem;
    width: 15rem;
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    justify-content: space-evenly;
    border: none;
    border-radius: 3rem;
    background: rgba(120, 20, 20, 1);
    color: white;

    align-items: center;
    height: 2.2rem;
    img {
      filter: invert();
      height: 70%;
      aspect-ratio: 1/1;
    }
  }
  .SearchBar {
    background: rgba(120, 20, 20, 1);
    flex: 0.9;
    display: flex;
    height: 2.2rem;
    align-items: center;
    justify-content: space-between;
    padding: 0.15rem 2rem;
    border-radius: 3rem;
    max-width: min(60vw, 45rem);
    input {
      height: 100%;
      font-size: 1.5rem;
      padding: 0 1rem;
      border: none;
      flex: 0.99;
      max-width: 40vw;
    }
    .searchBtn {
      height: 100%;
      background: rgb(255, 255, 255);
      font-weight: bold;
      font-size: 1.2rem;
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.2rem;
      img {
        height: 130%;
      }
      @media (max-width: 780px) {
        .searchTittle {
          display: none;
        }
      }
    }
  }
}

.ItemListContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem 2rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
@media (max-width: 1500px) {
  .ItemListContainer {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 1200px) {
  .ItemListContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 950px) {
  .ItemListContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}


.MainContent {
  z-index: 0;
  flex: 1;
  background: rgba(0, 0, 0, 0.075);
}

.filterMainPair {
  display: flex;
  position: relative;
}

.filterSystem {
  background: rgba(120, 20, 20, 1);
  max-width: clamp(19rem, 55vw, 20rem);
  width: fit-content;
  height: calc(100vh - 5.4rem);
  position: sticky;
  top: 5.4rem;
  overflow-y: auto;
  padding-bottom: 2rem;
}
.HideFilterBtn {
  display: none;
}
@media (max-width: 900px) {
  .filterSystem {
    position: fixed;
    z-index: 1;
  }
  .SearchSystem {
  }
  .HideFilterBtn {
    display: block;
  }
}

.filterActions {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.filterItem {
  padding: 0.2rem;
  color: white;
}
.filterSubTittle {
  font-size: 1.5rem;
}
.filterTypes {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.filtInputPair {
  display: flex;
  flex-wrap: wrap;
  width: 45%;
  font-size: 1.2rem;
  p {
    width: fit-content;
  }
  input {
    font-size: 1.2rem;
    width: 100%;
    max-width: 100%;
    border: none;
    padding: 0.2rem;
  }
}
.filterTopBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.4rem 1rem;
  background: rgba(0, 0, 0, 0.2);
  margin-bottom: 1rem;
}
.HideFilterBtn {
  height: 2rem;
  width: 2rem;
  background: none;
  border: none;
  padding: 0.3rem;
  img {
    height: 100%;
    aspect-ratio: 1/1;
  }
}
.filterSerchTittle {
  font-weight: 500;
  font-size: 1.5rem;
}

.singlePair {
  justify-content: start;
  flex-direction: column;
  padding: 0 2%;
  width: 100%;
}
.filterSizeSelect {
  font-size: 1.2rem;
  width: 100%;
  padding: 0.2rem;
  border: none;
}

option:checked {
  font-weight: bold;
}
.filtRatings {
  display: flex;
  gap: 0.2rem;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.filtRate {
  display: flex;
  flex-direction: row;
  width: fit-content;
  align-items: center;
  align-items: center;
  gap: 0.1rem;
  font-size: 1.5rem;
  img {
    height: 1.5rem;
    width: 1.5rem;
    filter: invert();
  }
}

.ItemsListHead {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.2rem 1rem;
  height: 3rem;
  background: silver;
  position: sticky;
  top: 5rem;
  z-index: 2;
  font-size: 1.7rem;
  font-weight: 600;
}
