.HomePage {
  width: 100%;
}
.Showcase {
  background-attachment: fixed;
  align-self: center;
  min-height: calc(100vh - 3.6rem);
  background-position: center;
  background-size: cover;
  background-image: url("../Backgrounds/BG3.webp");
  background-repeat: repeat-y;
  z-index: 5;
  margin: 1rem;
  border-radius: clamp(1.5rem, 5vw, 2rem);
  box-shadow: black 0.2rem 0.2rem 0.3rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 700px) {
  .Showcase {
    background-attachment: unset;
    z-index: 0;
  }
}
.parentFront {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.FrontWordsBox {
  background: conic-gradient(
    from 0deg,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0),
    rgba(0, 0, 255, 0),
    gold,
    rgba(0, 0, 255, 0)
  );
  position: relative;
  padding: 0.5rem;
  border-radius: 1rem;
  align-self: center;
  max-width: 80vw;
}
.FrontWordsBackground {
  padding: 0.5rem 1rem;
  align-items: center;
  justify-content: center;
  display: flex;
  background: rgba(0, 15, 59, 0.719);
  border-radius: 0.7rem;
  display: flex;
  flex-wrap: wrap;
}

.HomeTittle {
  font-size: clamp(1.6rem, 4.5vw, 7rem);
  color: white;
}
.tittleSlogan {
  text-align: center;
  font-size: clamp(0.8rem, 2.5vw, 3rem);
  color: white;
}

.droneModel {
  filter: drop-shadow(rgba(0, 0, 0, 0.7) 0.4rem 0.7rem 0.2rem);
  max-width: 45vw;
}
.droneHovering {
  width: clamp(20rem, 20vw, 25rem);
  object-fit: contain;
}

.SearchSystem {
  background: white;
  top: min(9.9vw,2.5rem);
  box-shadow: rgba(0, 0, 0, 0.3) 0rem 0.1rem 0.2rem;
  position: sticky;
  display: flex;
  justify-content: space-between;
  padding: 0.3rem 1rem;
  z-index: 1;
  gap: 2vw;
  width: 100%;
  .FilterBar {
    padding: 0.1rem;
    width: 15rem;
    font-size: clamp(1rem, 4vw, 1.5rem);
    font-weight: bold;
    display: flex;
    justify-content: space-evenly;
    border: none;
    border-radius: clamp(1.9rem, 3vw, 3rem);
    background: rgba(120, 20, 20, 1);
    color: white;

    align-items: center;
    height: min(7vw, 2.2rem);
    img {
      filter: invert();
      height: 70%;
      aspect-ratio: 1/1;
    }
  }
  .SearchBar {
    background: rgba(120, 20, 20, 1);
    max-width: min(60vw, 45rem);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    width: 70%;
    input {
      max-width: 60vw;
      
   outline: solid rgba(120, 20, 20, 1) ;
      border-radius: 25rem;
      height: 100%;
      font-size: clamp(1rem, 1.5vw, 1.5rem);
      padding: 0 1rem;
      border: none;
      flex: 0.99;
    }
    .searchIcon{
        position: absolute;
        right: 3%;
        height: 95%;
      
    
    }
  }
}

.ItemListContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem min(2vw,2rem);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
@media (max-width: 1500px) {
  .ItemListContainer {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 1200px) {
  .ItemListContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 950px) {
  .ItemListContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

.MainContent {
  z-index: 0;
  flex: 1;
  background: rgba(0, 0, 0, 0.075);
}

.filterMainPair {
  display: flex;
  position: relative;
}

.filterSystem {
  background: rgba(120, 20, 20, 1);
  max-width: clamp(19rem, 55vw, 20rem);
  width: fit-content;
  height: calc(100vh - 5.4rem);
  position: sticky;
  top: 5.3rem;
  overflow-y: auto;
  padding-bottom: clamp(1.5rem, 5vw, 2rem);
}
.HideFilterBtn {
  display: none;
}
@media (max-width: 900px) {
  .filterSystem {
    position: fixed;
    z-index: 1;
  }
  .SearchSystem {
  }
  .HideFilterBtn {
    display: block;
  }
}

.filterActions {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.filterItem {
  padding: 0.2rem;
  color: white;
}
.filterSubTittle {
  font-size: clamp(1.2rem, 1.5vw, 1.5rem);
}
.filterTypes {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.filtInputPair {
  display: flex;
  flex-wrap: wrap;
  width: 45%;
  font-size: clamp(1rem, 1vw, 1.2rem);
  p {
    width: fit-content;
  }
  input {
    font-size: clamp(1rem, 1vw, 1.2rem);
    width: 100%;
    max-width: 100%;
    border: none;
    padding: 0.2rem;
  }
}
.filterTopBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.4rem 1rem;
  background: rgba(0, 0, 0, 0.2);
  margin-bottom: 1rem;
}
.HideFilterBtn {
  height: clamp(1.5rem, 5vw, 2rem);
  width: clamp(1.5rem, 5vw, 2rem);
  background: none;
  border: none;
  padding: 0.3rem;
  img {
    height: 100%;
    aspect-ratio: 1/1;
    filter: invert();
  }
}
.filterSerchTittle {
  font-weight: 500;
  font-size: clamp(1rem, 4vw, 1.5rem);
  color: white;
}

.singlePair {
  justify-content: start;
  flex-direction: column;
  padding: 0 2%;
  width: 100%;
}
.filterSizeSelect {
  font-size: clamp(1rem, 1vw, 1.2rem);
  width: 100%;
  padding: 0.2rem;
  border: none;
}

option:checked {
  font-weight: bold;
}
.filtRatings {
  display: flex;
  gap: 0.2rem;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.filtRate {
  font-family: font2;
  display: flex;
  flex-direction: row;
  width: fit-content;
  align-items: center;
  align-items: center;
  gap: 0.1rem;
  font-size: clamp(1rem, 4vw, 1.5rem);
  img {
    height: clamp(1rem, 4vw, 1.5rem);
    width: clamp(1rem, 4vw, 1.5rem);
    filter: invert();
  }
}

.ItemsListHead {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.2rem 1rem;
  height: clamp(1.9rem, 3vw, 3rem);
  background: silver;
  position: sticky;
  top: min(19vw, 5.3rem); 
  z-index: 2;
  font-size: clamp(0.7rem, 1.5vw, 1.7rem);
  font-weight: 600;
}
.itemsGroupName {
  font-size: clamp(1.2rem, 1.5vw, 1.7rem);
}

.searchResult {
  min-height: 95vh;
}
.resetFilter {
  font-size: clamp(1rem, 1vw, 1.2rem);
  background: blue;
  width: 50%;
  padding: 0.5rem clamp(1.5rem, 5vw, 2rem);
  align-self: center;
  color: white;
  background: none;
  border: solid 0.15rem white;
}

.viewAll:active {
  transform: scale(0.97);
  transition: all 0.15s;
  z-index: -1;
  filter: brightness(90%);
}
.viewAll {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-size: min(5vw,1.5rem);
  img {
    height: min(4.5vw,1.5rem);
  }
}

.noMatchFound{
  font-size: min(4vw,1.3rem);
  text-align: center;
  text-wrap: nowrap;
}