.ItemCard {
  box-shadow: rgba(0, 0, 0, 0.37) 0 0 0.2rem;
  background: white;
  padding: 0.3rem;
  display: flex;
  background-position: center;
  background-size: cover;
  border-radius: 0.5rem;
  flex-direction: column;
  position: relative;
  max-width: 100%;
  overflow: hidden;
}
.ItemPreview:hover,
.viewAll:hover {
  cursor: pointer;
}
.ItemPreview:active,
.viewAll:active {
  transform: scale(0.97);
  transition: all 0.15s;
  z-index: -1;
  filter: brightness(90%);
}

.saleIcon,
.likeIcon {
  height: 2.5rem;
  width: 2.5rem;
  z-index: 1;
}
.saleIcon {
  position: absolute;
  transform: rotate(-30deg);
}
.likeIcon{}

.LikeButton {
  z-index: 1;
  border: none;
  background: none;
  right: 0;
  width: fit-content;
  position: absolute;
}

.itemName {
  font-size: 1.6rem;
  font-weight: 600;
}
.ItemPrevBody {
  padding: 0.2rem;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.previewImage {
  height: 100%;
  width: 100%;
  aspect-ratio: 5/4;
  background: white;
  object-fit: contain;
  border-radius: 0.3rem;
}
.detailBox {
  display: flex;
  padding: 0.3rem;
  flex-direction: column;
}
.priceBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5%;
}
.itemPrice {
  font-size: 1.3rem;
  padding: 0.1rem 0.4rem;
  border-radius: 0.2rem;
  color: rgb(255, 255, 255);
  background: green;
}
.discounted {
  font-size: 1.2rem;
  font-weight: 500;
  text-decoration: line-through;
  color: rgb(73, 73, 73);
}

.viewAll {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-size: 1.5rem;
  font-weight: 600;
  img {
    height: 1.5rem;
  }
}

.ItemFeatures {
  display: flex;
  gap: 1rem;
  font-size: 1rem;
  padding: 0.2rem 0;
}
.featureText {
  max-width: 50%;
  overflow-x: hidden;
  text-wrap: nowrap;
}
.featureText::before {
  content: "• ";
}

.ImagePrevBox {
  position: relative;
  display: flex;
  flex-direction: column;
}
.saleAmount {
  font-size: 1.1rem;
  font-weight: bold;
  background: rgb(0, 140, 255);
  color: white;
  width: fit-content;
  padding: 0.2rem 0.4rem;
  border-radius: 0.3rem;
  position: absolute;
  bottom: 2%;
}

.inStock {
  font-weight: bold;
}
.lowStock {
  background: rgb(255, 142, 142);
  padding: 0.1rem 0.2rem;
  width: fit-content;
}
.likeIcon {
}
