.ItemCard {
  box-shadow: rgba(0, 0, 0, 0.37) 0 0 0.2rem;
  background: white;
  padding: 0.5rem 0.5rem;
  display: flex;
  background-position: center;
  background-size: cover;
  border-radius: 0.5rem;
  flex-direction: column;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-direction: column;
  justify-content: space-between;
}
.ItemCard:active {
  transform: scale(0.97);
  filter: brightness(90%);
}

.upperCard {
}

.ItemPreview:hover,
.ItemPreview:active,
.viewAll:hover {
  cursor: pointer;
}

.saleIcon,
.likeIcon {
  height: min(7vw, 2.5rem);
  width: min(7vw, 2.5rem);
  z-index: 1;
}
.saleIcon {
  position: absolute;
  transform: rotate(-30deg);
}
.likeIcon {
  height: 100%;
  width: 100%;
}

.LikeButton {
  z-index: 1;
  border: none;
  background: none;
  right: 4%;
  width: fit-content;
  position: absolute;
  height: min(8vw, 3rem);
}

.itemName {
  font-size: min(5.5vw, 1.6rem);
  text-wrap: nowrap;
  font-weight: 600;
}
.ItemPrevBody {
  padding: 0.2rem;

  display: flex;
  flex-direction: column;
}
.previewImage {
  height: 100%;
  width: 100%;
  aspect-ratio: 5/4;
  background: white;
  object-fit: contain;
  border-radius: 0.3rem;
}
.bottomCard {
}
.detailBox {
  display: flex;
  padding: 0.3rem;
  flex-direction: column;
}
.priceBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5%;
  flex-wrap: wrap-reverse;
}
.itemPrice {
  font-size: min(3.8vw, 1.3rem);
  padding: 0.1rem 0.4rem;
  border-radius: 0.2rem;
  color: rgb(255, 255, 255);
  background: green;
}
.discounted {
  font-size: min(4vw,1.2rem);
  font-weight: 500;
  text-decoration: line-through;
  color: rgb(73, 73, 73);
}

.ItemFeatures {
  display: flex;
  gap: 1rem;
  font-size: 1rem;
  padding: 0.2rem 0;
}
.featureText {
  max-width: 50%;
  overflow-x: hidden;
  text-wrap: nowrap;
}
.featureText::before {
  content: "• ";
}
@media (max-width: 500px) {
  .cardFeature2 {
    display: none;
  }
  .featureText {
    max-width: 90%;
  }
}

.ImagePrevBox {
  position: relative;
  display: flex;
  flex-direction: column;
}
.saleAmount {
  font-size: min(3.5vw, 1.1rem);
  font-weight: bold;
  background: rgb(0, 140, 255);
  color: white;
  width: fit-content;
  padding: 0.2rem 0.4rem;
  border-radius: 0.3rem;
  position: absolute;
  bottom: 2%;
}

.inStock {
  font-weight: bold;
  font-size: min(3.6vw, 1rem);
}
.lowStock {
  background: rgb(255, 142, 142);
  padding: 0.1rem 0.2rem;
  width: fit-content;
}
.likeIcon {
}
.itemRating {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background: white;
}
.starIcon {
  height: min(5vw,1.8rem)
}
.RateStars {
  font-size: min(5vw,1.5rem);
}
